:root {
  --purple: rgb(42, 29, 163);
  --darkgray: #1c1c1c;
  --lightgray: #dcdee3;
}

::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--lightgray);
  border-radius: 7px;

  /* 스크롤바 공간에 padding을 주는 꼼수 */
  background-clip: padding-box;
  border: 5px solid transparent;
}
