@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

@layer components {
  /* fonts */
  .text-greeting {
    @apply text-4xl font-semibold sm:text-7xl;
  }
  .text-title {
    @apply text-3xl font-semibold sm:text-4xl;
  }
  .text-subtitle {
    @apply text-xl font-semibold sm:text-2xl;
  }
  .text-main {
    @apply text-lg  font-medium;
  }
  .text-sub {
    @apply text-[0.95rem] font-normal;
  }
  .text-cute {
    @apply text-xs font-medium;
  }
  .text-gradient {
    @apply text-transparent bg-clip-text bg-gradient-to-tr from-[#B2A4FF] from-[5%]  via-[#FFB4B4] via-[50%] to-[#FDF7C3] to-[80%];
  }

  /* 반응형 화면 구성용 */
  .layout {
    @apply sm:max-w-screen-sm md:max-w-screen-md lg:max-w-screen-lg px-4 mx-auto mt-8 justify-center;
  }

  /* color transitions */
  .ring-transition {
    @apply border-2 focus:border-custom-blue  transition duration-300 border-custom-black;
  }
  .opacity-transition {
    @apply transition-opacity duration-300 opacity-30 hover:opacity-100;
  }
  .text-darkgray-transition {
    @apply transition-colors duration-300 text-white hover:text-custom-darkgray;
  }
  .text-lightgray-transition {
    @apply transition-colors duration-300 text-white hover:text-custom-lightgray;
  }
  .text-blue-transition {
    @apply transition-colors duration-300 text-white hover:text-custom-blue;
  }
  .border-blue-transition {
    @apply transition-colors duration-300 border-[1px] border-custom-lightgray hover:border-custom-blue;
  }
  .border-b-transition {
    @apply transition-colors duration-300 border-b-[1px] border-b-custom-lightgray hover:border-b-custom-blue;
  }
}
